<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Director Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for("static", filename="css/style.css")}}'>
</head>
<body>
    <h1>{{director.first_name}} {{director.last_name}}</h1>
        <p>Director Bio Coming Soon!</p>
    <a href="/directors/{{director.id}}/edit">Edit {{director.first_name}} {{director.last_name}}</a>
    <a href="/directors/{{director.id}}/delete">Delete {{director.first_name}} {{director.last_name}}</a>
    <a href="/directors">View All Directors</a>




</body>
</html>