<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>New Player Form</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <h1>Enter Your Player Information</h1>
    <form action="/players/new" method="POST">
        <p>Name:</p><input name="playerName" type="text">
        <p>Email:</p><input name="playerEmail" type="email">
        <p>Age:</p><input name="playerAge" type="number">
        <button type="submit">Create New Player</button>
    </form>
</body>
</html>